@charset 'utf-8';

.btn {
  border: none;
  background: transparent;
  font-size: 30px;
  color: #999;
  position: fixed;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 250px;
  height: 100vh;
  background-color: rgba(0, 225, 125, .7);
  transform: translateX(-105%);
  transition: .3s cubic-bezier(.94,.19,.14,.81);
}

body.open .nav {
  transform: translateX(0);
}
/* bodyタグにopenがついたときに出てくる設定 */

.nav ul {
  padding: 40px;
}

.nav ul li {
  margin-bottom: 2em;
  list-style: none;
}

.nav ul li a {
  color: #fff;
}

footer {
  background: #ccc;
}